*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #212121;
}

h1{
    &{
        color: white;
        text-transform: uppercase;
    }
    & span{
        &{
            color: purple;
            position: relative;
        }
        &::after{
            margin-left: 2px;
            content: '';
            border-right: 4px solid purple;
            animation: cursor 1s infinite alternate;
        }
        &::before{
            content: '';
            animation: writing 7s infinite;
        }
    }
}

@keyframes cursor {
    to{
        border: none;
    }
}
@keyframes writing {
    0%,32%{
        content: 'student';
    } 33%,66%{
        content: 'web developer';
    } 67%,100%{
        
        content: 'graphic design';
    }
}